
.modal {
    display: block; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    width: 400px;
    max-width: 80%;
    margin: 100px auto; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  

  .form-group {
    margin-bottom: 20px;
  }
  
  form input[type='text'],
  form textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form button[type='submit'] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  form button[type='submit']:hover {
    background-color: #0056b3;
  }
  .adding{
    display: flex;
    justify-content: end;
}
 


.addProj {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  margin-bottom:20px
}

.addProj:disabled {
  pointer-events: none;
}

.addProj:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.addProj:active {
  box-shadow: none;
  transform: translateY(0);
}

.email{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(190, 190, 190);
}
.taskBtt{
  margin-left: 35px;
  background-color: #4cce52;
  border: none;
  padding: 6px 14px;
  border-radius: 10px;
}